<main>
    Доброго дня!<br />
    Вы совершили покупку на сайте Digital Books<br />
    Номер вашего заказа <%= locals.code %><br />
    Чтобы скачать книги, введте этот номер на странице <a href="http://localhost:3000/orders">http://localhost:3000/orders</a>
</main>